.add-item-title {
    background: white;
    padding: 1rem;
    box-shadow: inset 0 0 0 2px #0079bf;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    margin: 0.5rem;
    width: 96%;
    outline: none;
}

.add-item-title::placeholder {
    color: black;
}

.add-item-button-container {
    display: flex;
    margin: 0.5rem;
    align-items: center;
}

.add-button {
    outline: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 25px;
    text-decoration: none;
    float: left;
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
    opacity: 1;
}

.add-button:hover {
    opacity: 0.8;
}

.close-button {
    font-size: 2rem;
    color: black;
    background: none;
    border: none;
    margin: 0rem 2rem;
    opacity: 0.5;
}

.close-button:hover {
    opacity: 1;
}