.board-info-bar {
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    padding: 0 1rem;
    color: #f6f6f6;
    flex-wrap: wrap;
}

.board-controls {
    display: flex;
}

.board-controls .btn {
    margin-right: 1rem;
    background-color: rgba(219, 210, 210, 0.2);
}

.board-views-btn {
    flex-basis: 9rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 0.4rem;
    padding: 0.6rem 0.8rem;
    background-color: rgba(0, 0, 0, .3);
}

.board-views-btn-icon-left {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.board-views-btn-icon-right {
    font-size: 1.7rem;
    padding-left: 1rem;
}

.board-controls .btn:last-of-type {
    margin-right: 0rem;
}

.board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 150ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
}

.board-info-bar .btn:not(.board-title) {
    background-color: hsla(0, 0%, 100%, .3);
}

.board-header-btn-text .org-label {
    font-size: 12px;
    background: rgba(85, 82, 82, 0.2);
    border-radius: 12px;
    margin-left: 8px;
    padding: 2px 6px;
}

.board-header-btn-text {
    padding-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.org-label {
    background: rgba(0, 0, 0, .08);
}

.menu-btn {
    margin-right: 0rem;
}

.private-btn-icon,
.menu-btn-icon {
    padding-right: 0.6rem;
    white-space: nowrap;
}

.board-title h2 {
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
}

.board-info-bar .btn:hover {
    background-color: rgba(29, 27, 27, 0.1);
    box-shadow: none;
    outline: 0;
}

.board-info-bar .btn:hover {
    background-color: rgba(29, 27, 27, 0.1);
    box-shadow: none;
    outline: 0;
}