.card-modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 3vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.card-modal-content {
    background-color: #ebecf0;
    margin: auto;
    border: 2px solid #888;
    width: 55vw;
    border-radius: 5px;
    min-height: 600px;
    clear: both;
    content: "";
    display: table;
}

.card-header {
    margin: 15px 40px 8px 20px;
    min-height: 32px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon-card {
    font-size: large;
    color: black;
    margin-right: 1.5rem;
}

.card-title {
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
}

.card-title h2 {
    font-size: 25px;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.card-title span {
    font-size: 15px;
}

.card-title span::last-word {
    text-decoration: underline;
    color: cyan;
}

.card-close-button {
    border: none;
    color: rgb(15, 15, 15);
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 20px;
    float: right;
    margin: -6rem 1rem;
}

.card-close-button:hover {
    background: rgba(78, 80, 80, 0.479);
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
}

.card-section {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    margin-left: 2rem;
}

.description {
    display: flex;
    margin-top: 4rem;
    font-size: large;
}

.card-section p {
    font-size: 1.4rem;
    margin: 1rem 5rem;
    display: block;
    flex-basis: 0%;
}

.edit-btn {
    background: #8080801a;
    margin-left: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.edit-btn:hover {
    background: #80808040;
}

textarea {
    height: 10rem;
    width: 31rem;
    margin: 0rem 5rem;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #0079bf;
    font-size: 1.4rem;
    border: none;
}

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

aside ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
}

aside ul h3 {
    color: #5e6c84;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: start;
    padding: 1rem;
}

aside ul li {
    margin: 0.3rem;
    background: #8080801a;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 500;
    margin-right: 1.5rem;
    color: gray;
}

aside ul li .icon-card {
    color: gray;
}

aside ul li:hover {
    background: #80808040;
}

.check-list-container {
    display: flex;
    flex-direction: column;
}

.check-list {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    font-size: 1.6rem;
    font-weight: 550;
    margin-top: 2rem;
}

.delete-btn {
    background: #8080801a;
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    justify-self: flex-end;
}

.delete-btn:hover {
    background: #80808040;
}

.check-item {
    font-size: 1.45rem;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.del-checkItem {
    color: rgb(157 151 151);
}

.del-checkItem:hover {
    color: red;
}

.addItem {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    width: 10rem;
}