/* Master Header styles */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.master-header {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    max-height: 40px;
    background-color: rgba(0, 0, 0, .32);
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.master-header .btn {
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 0.3rem;
    transition: background-color 150ms;
}

.master-header .btn:hover {
    background-color: hsla(0, 0%, 100%, .1);
    box-shadow: none;
    color: #fff;
    outline: 0;
}

.boards-menu {
    display: flex;
    flex-shrink: 0;
}

.home {
    font-size: 1.5rem;
    width: 3rem;
    margin-right: 0.4rem;
    color: #fff;
}

.boards-btn {
    flex-basis: 9rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    margin-right: 0.4rem;
    padding: 0.6rem 0.8rem;
}

.boards-btn-icon {
    font-size: 1.7rem;
    padding-right: 1.2rem;
}

.board-search {
    flex-basis: 18rem;
    position: relative;
}

.board-search-input {
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    background-color: hsla(0, 0%, 100%, .3);
    width: 100%;
    padding: 0 3rem 0 1rem;
    color: #fff;
}

.board-search-input:hover {
    background-color: hsla(0, 0%, 100%, .2);
    box-shadow: none;
    color: #fff;
    outline: 0;
}

.board-search-input::placeholder {
    color: #fff;
    font-size: 1.5rem;
}

.search-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%) rotate(90deg);
    color: #fff;
}

.logo {
    flex: 1;
    font-family: "Courgette", cursive;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 2rem;
    transition: color 150ms;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.logo h1:hover {
    color: rgba(255, 255, 255, 0.8);
}

.logo-icon {
    padding-right: 0.4rem;
}

.user-settings {
    display: flex;
    height: 3rem;
    color: #fff;
}

.user-settings-btn {
    font-size: 1.5rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.user-settings-btn:last-of-type {
    margin-right: 0;
}