    main {
        background-color: rgb(255, 255, 255);
        height: 100vh;
    }
    
    .boards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: center;
    }
    
    .boards {
        border-radius: 0.5rem;
        height: 13rem;
        flex-basis: 25rem;
        margin: 1rem;
        border: none;
        padding: 0;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 10px 0px #f5f5f5;
        box-shadow: 0px 0px 10px 0px #f5f5f5;
        background-size: cover;
        background-position: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #fff;
    }
    
    .boards a {
        background-color: transparent;
        flex-basis: 90%;
        font-weight: 700;
        color: #fff;
        padding: 8px;
        float: left;
        text-decoration: none;
    }
    
    .boards i {
        margin-top: 1.1rem;
        margin-right: 1.5rem;
    }
    
    .boards:hover {
        opacity: 0.8;
    }
    
    .boards i:hover {
        color: rgba(7, 7, 7, 0.829);
    }
    
    .boards button {
        color: black;
        flex-basis: 100%;
        background-color: #e7dddd8a;
        outline: none;
    }
    
    .boards button:hover {
        background-color: #e7dddde8;
    }
    
    .boards a span {
        color: white;
    }
    
    .modal {
        position: fixed;
        z-index: 1;
        padding-top: 5vw;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .modal-content {
        background-color: #131212;
        margin: auto;
        border: 2px solid #888;
        width: 25rem;
        padding: 1rem;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.7;
        -webkit-box-shadow: 0px 0px 10px 0px #f5f5f5;
        box-shadow: 0px 0px 10px 0px #f5f5f5;
        background-image: url(https://images.unsplash.com/photo-1617892262807-551053a8cfdf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw3MDY2fDB8MXxjb2xsZWN0aW9ufDF8MzE3MDk5fHx8fHwyfHwxNjE3OTQ4NDM5&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=400&quot;);
        ;
    }
    
    .close {
        font-size: 25px;
        margin: -5px;
        border: none;
        float: right;
        color: rgba(253, 4, 4, 0.726);
        background: none;
        font-weight: bold;
    }
    
    .close:hover,
    .close:active {
        color: red;
        background: rgb(255 255 255 / 79%);
        border-radius: 15px;
    }
    
    .create-board {
        background-color: rgb(255 255 255 / 79%);
        font-size: 16px;
        margin-bottom: 1vw;
        border: none;
        color: rgb(84 65 65 / 78%);
        padding: 4px 15px;
        border-radius: 6px;
    }
    
    .modal-content input[type=text] {
        width: 80%;
        padding: 5px;
        margin: 5px 0 22px 0;
        border: none;
        font-size: 20px;
        border-radius: 6px;
        font-weight: bold;
        border: none!important;
        background: transparent!important;
        box-shadow: none;
        box-sizing: border-box;
        color: #fff;
    }
    
     ::placeholder {
        color: rgba(255, 255, 255, 0.99);
    }
    
    .modal-content input[type=text]:hover {
        box-shadow: none;
        background: rgb(247 244 244 / 45%) !important;
    }
    
    .modal-content input[type=text]:focus {
        background: hsl(0deg 0% 100% / 38%)!important;
        box-shadow: none;
    }
    
    .create-board:hover {
        background: grey;
    }
    
    .create-board:active {
        background: green;
    }
    
    h3 {
        color: white;
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
    }
    /* Lists */
    
    .board-lists {
        display: flex;
        align-items: flex-start;
        padding: 0 0.8rem 0.8rem;
        margin: 0rem 0rem;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        min-height: calc(100vh - 8rem);
    }
    
    .list {
        flex: 0 0 27rem;
        display: flex;
        flex-direction: column;
        background-color: #ebecf0;
        max-height: calc(100vh - 12rem);
        border-radius: 0.3rem;
        margin-right: 1rem;
        box-sizing: border-box;
    }
    
    .list:last-of-type {
        margin-right: 0;
    }
    
    .list-title {
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        padding: 1rem;
    }
    
    .cards {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        padding: 0 0.6rem 0.5rem;
        overflow-y: auto;
    }
    
    .cards::-webkit-scrollbar {
        width: 1.8rem;
    }
    
    .cards::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 0.6rem solid #e2e4e6;
    }
    
    .cards li {
        font-size: 1.5rem;
        background-color: #fff;
        color: #4d4d4d;
        border-bottom: 0.1rem solid #ccc;
        border-radius: 0.3rem;
        word-wrap: break-word;
        display: flex;
        padding: 1rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    .cards li span {
        flex-basis: 94%;
        cursor: pointer;
    }
    
    .cards li:last-of-type {
        margin-bottom: 0;
    }
    
    .cards li:hover {
        background-color: rgba(255, 255, 255, 0.589);
    }
    
    .cards li i:hover {
        color: rgba(247, 10, 10, 0.589);
    }
    
    .add-card-btn {
        font-size: 1.4rem;
        font-weight: 400;
        color: #45494b;
        padding: 1rem;
        text-align: left;
        cursor: pointer;
        margin: 0.5rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
    }
    
    .add-card-btn:hover {
        background-color: #cdd2d4;
        color: #4d4d4d;
        text-decoration: none;
    }
    
    .add-list-box {
        flex: 0 0 27rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.3rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        color: #b4bfc5;
        padding: 1rem;
        cursor: pointer;
        background-color: #46484973;
        outline: none;
    }
    
    .add-list-btn {
        border-radius: 0.3rem;
        transition: background-color 150ms;
        text-align: left;
        width: 100%;
        background-color: #46484973;
        outline: none;
    }
    
    .add-list-box:hover {
        background-color: #5a5f6173;
    }
    
    .add-list-btn::after {
        content: '...';
    }
    
    .add-list-btn-icon {
        font-size: 1.7rem;
        padding-right: 1.2rem;
    }