* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #026aa7;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-text-size-adjust: 100%;
    overflow-y: hidden;
}